---
- name: Ensure Kibana data/log dirs
  block:
    - file:
        path: /var/lib/kibana
        state: directory
        owner: 1000
        group: 1000
        mode: '0755'
      become: yes
    - file:
        path: /var/log/kibana
        state: directory
        owner: 1000
        group: 1000
        mode: '0755'
      become: yes

- name: Pull Kibana image
  community.docker.docker_image:
    name: kibana
    tag: "7.17.9"
    source: pull
  become: yes

- name: Run Kibana container (with autodiscover labels)
  community.docker.docker_container:
    name: kibana
    image: kibana:7.17.9
    state: started
    restart_policy: always
    network_mode: "host"
    env:
      ELASTICSEARCH_HOSTS: "http://elasticsearch.ru-central1.internal:9200"
      logging.verbose: "true"
    volumes:
      - "/var/lib/kibana:/usr/share/kibana/data"
      - "/var/log/kibana:/usr/share/kibana/logs"
    labels:
      co.elastic.logs/enabled: "true"
      co.elastic.logs/module: "kibana"
      co.elastic.logs/fileset.stdout: "log"
      co.elastic.logs/fileset.stderr: "log"
  become: yes
  notify: Restart filebeat

- name: Wait for Kibana availability
  uri:
    url: "http://localhost:5601/api/status"
    method: GET
    status_code: 200
  register: kibana_check
  until: kibana_check.status == 200
  retries: 12
  delay: 15